@import "./reset.css";
@import "./layout.css";
@import "./dashboard.css";
@import "./modal.css";
@import "./cards_vitrine.css";
@import "./cards_carrinho.css";
@import "./cards_dashboard.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;500;700&display=swap');

@media (min-width: 300px) {
    nav {
        height: 2rem;
        box-shadow: 0 0 1em #e9e9e9;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
    }
    .logo {
        font-family: 'Poppins';
        font-weight: 700;
        display: flex;
    }
    #primeiroNome {
        color: #212529; 
        font-size: 0.5rem;
        padding-left: 1rem;
    }
    #segundoNome {
        color: #FF2253; 
        padding-top: 0.1rem;
        padding-left: 0.1rem;
        font-size: 0.4rem;
    }
    .barra {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 1rem;
        background-color: #E9ECEF; 
        border-radius: 7px;
        border: none;
        height: 1rem;
        width: 3rem;
        top: 1.5rem;
        left: -8rem;
        position: relative;
        z-index: -1;
    }
    #lupa {
        color: #576068;
        padding-right: 6rem;
        padding-top: 2rem;
        font-size: 0.5rem;
    }
    .iconeAvatar {
        padding-left: 4rem;
        padding-bottom: 2.5rem;
    }
    .menuHeader {
        margin-left: 1rem;
        margin-top: 1rem;
        margin-right: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .filtro {
        font-family: 'Inter';
        border-radius: 30px;
        width: 5rem;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
        color: #212529;
        font-size: 0.8rem;
        align-content: space-between;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 0.8rem;
    }
    #todos {
        background-color: #FF2253;
        color: #F8F9FA;
    }
    
    #panificadora {
        background-color: #FFF7F4;
    }
    
    #frutas {
        background-color: #FFF1F4;
    }
    
    #bebidas {
        background-color: #F3EEF5;  
    }
    
    .botaoAdicionarItem {
        background-color: #FF2253;
        color: #F8F9FA;
        border: none;
        border-radius: 20px;
        font-weight:500;
        font-family: 'Inter';
        height: 1.8rem;
        font-size: 0.8rem;
    }
    .ul{
        height: 8rem;
    }
    .descricao {
        color: #868E96;
        display: flex;
        justify-content: space-between;
        margin-top: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 0.6rem;
    }
}

@media (min-width: 350px) {
    .descricao {
        margin-right: 1rem;
    }
}

@media (min-width: 400px) {
    .barra {
        height: 1rem;
        width: 4rem;
    }
    #lupa {
        font-size: 0.6rem;
    }
}

@media (min-width: 700px) {
    nav {
        height: 15%;
    }
    .navSemLogo {
        height: 10%;
    }
    #primeiroNome {
        padding-left: 1rem;
        font-size: 0.8rem;
    }
    #segundoNome {
        padding-left: 0.1rem;
        font-size: 0.6rem;
        padding-top: 0.2rem;
    }
    .barra {
        height: 1.5rem;
        width: 8rem;
    }
    .iconeAvatar {
        padding-left: 9rem;
    }
    .ul{
        width: 22rem;
        display: flex;
        justify-content: space-between;
    }
    .menuHeader {
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .filtro {
        margin-left: 0;
        width: 5rem;
        height: 2rem;
        font-size: 0.9rem;
    }
    .botaoAdicionarItem {
        border-radius: 20px;
        height: 2rem;
        font-size: 0.8rem;
    }
    .descricao {
        margin-top: 2.5rem;
        margin-left: 1rem;
        margin-right: 2rem;
        font-size: 0.8rem;
    }
    .ul{
        height: 0rem;
    }
}

 @media (min-width: 1000px){
    #primeiroNome {
        padding-left: 1rem;
        font-size: 1rem;
    }
    #segundoNome {
        padding-left: 0.1rem;
        font-size: 0.8rem;
    }
    .ul{
        width: 28rem;
    }
}

/*

nav {
    width: 100%;
    height: 5rem;
    box-shadow: 0 0 1em #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Poppins';
    font-weight: 700;
    display: flex;
}

.navSemLogo {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#primeiroNome {
    color: #212529; 
    padding: 2rem;
    padding-right: 0.3rem;
    font-size: 1rem;
}
#segundoNome {
    color: #FF2253; 
    padding: 2.3rem;
    padding-left: 0.1rem;
    font-size: 0.7rem;
}

.barra {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1rem;
    background-color: #E9ECEF; 
    border-radius: 12px;
    border: none;
    height: 3.5rem;
    width: 6rem;
    position: relative;
    z-index: -1;
}

#lupa {
    color: #576068;
    top: 2rem;
}



.menuHeader {
    margin-left: 3.5rem;
    margin-top: 3rem;
    margin-right: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.ul{
    display: flex;
    justify-content: space-between;
}

.filtro {
    font-family: 'Inter';
    border-radius: 30px;
    width:8rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    color: #212529;
    font-size: 1rem;
    font-weight:500;
}

#todos {
    background-color: #FF2253;
    color: #F8F9FA;
}

#panificadora {
    background-color: #FFF7F4;
}

#frutas {
    background-color: #FFF1F4;
}

#bebidas {
    background-color: #F3EEF5;  
}

.botaoAdicionarItem {
    background-color: #FF2253;
    color: #F8F9FA;
    border: none;
    border-radius: 30px;
    font-weight:500;
    font-family: 'Inter';
    height: 3.5rem;
    font-size: 1rem;
}

.descricao {
    color: #868E96;
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
    margin-left: 6rem;
    margin-right: 6rem;
} */