.cabecalho {
  height: 25vh;
  padding: 0 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.titulo {
  height: 5vh;
  display: flex;
  align-items: center;
  align-self: flex-start;
  font-size: 1.7rem;
}

.titulo span {
  margin: 0 5%;
  color: #ff2253;
  font-size: 1.3rem;
}

.usuario {
  top: 9%;
  right: 5%;
  width: 15vw;
  height: 15vw;
  border: none;
  border-radius: 50%;
  background-color: #c4c4c4;
  position: absolute;
}

.usuario i {
  color: #fff;
  font-size: 1.5rem;
}

.pesquisa__moldura {
  width: 100%;
  position: relative;
}

.pesquisa__moldura i {
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
  color: #868e96;
  position: absolute;
}

.pesquisa {
  width: 100%;
  height: 100%;
  padding: 5% 0 5% 13%;
  color: #868e96;
  border: none;
  border-radius: 10px;

  background-color: #e9ecef;
}

.filtros {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  overflow: scroll;
  border: 1px solid red;
}

.vitrine {
  width: 100vw;
  height: 55vh;
  display: flex;
  align-items: center;
  overflow: scroll;
  border: 1px solid red;
}

.carrinho {
  right: 0;
  bottom: 0;
  position: fixed;
  width: 100vw;
  height: 10vh;
  color: #fff;
  background-color: #ff2253;
}

.carrinho__titulo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.carrinho__titulo i {
  margin-right: 5%;
}
