@import "./reset.css";
@import "./layout.css";
@import "./dashboard.css";
@import "./modal.css";
@import "./cards_vitrine.css";
@import "./cards_carrinho.css";
@import "./cards_dashboard.css";

body {
  display: flex;
}

#vitrine {
  width: 70vw;
  height: 90vh;
  margin: 2% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  border: 1px solid purple;
}

#carrinho {
  width: 25vw;
  height: 60vh;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  border: 1px solid violet;
}
